<template>
  <div id="app">
    <button @click="changeState">Trigger !</button>
    <p>{{ user.doubleCounter }}</p>
    <p>{{ user.squareDoubleCounter }}</p>
    <p>{{ user.completedList }}</p>
    <!-- <p>{{ user.randomUser.name.first }} {{ user.randomUser.name.last }}</p>
    <img :src="user.randomUser.picture.medium" alt="" /> -->
  </div>
</template>

<script>
import {
  ref,
  defineComponent,
  reactive,
  computed,
  toRefs,
} from "@vue/composition-api";
import { useUserStore } from "./store/userInfo";

export default defineComponent({
  setup() {
    const user = useUserStore();

    user.$subscribe((mutation, state) => {
      console.log(state.bookList);
    });

    const unSubscribe = user.$onAction(({ after, onError }) => {
      console.log("Start Function");

      after((result) => {
        console.log(result);
      });

      onError((error) => {
        console.warn(`There is some Error ${error}`);
      });
    });

    unSubscribe();

    user.getRandomUser();

    return {
      user,
    };
  },
  methods: {
    changeState() {
      this.$data.user.$patch((ele) => {
        ele.bookList.push("Doce cuentos peregrinos");
      });
      // this.$data.user.getRandomUser();
    },
  },
});
</script>


<style>
#app {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: blue;
}
</style>